/* Drop down menu */
body{
    background-color:#f1f4f5;
}
.navbar .menu ul
{
    font-size:25px;
    list-style: none;
    overflow: hidden;
}

.navbar ul li
{
    display: block;
    position: relative;
    float: left;
}
.navbar ul li a
{
    display: block;
    text-decoration: none;
    border-top: 1px solid #ffffff;
    border-radius: 7px;
    padding: 5px 15px 5px 10px;
    margin-left: 0px;
    white-space: nowrap;
}

.navbar li:hover a
{
    background:#1B3060;
    text-decoration: none;
    color: white;
    font-weight:bold;
}

.displaybox {
    border: solid 1px #e5e5e5;
    padding: 10px 15px;
    float: left;
    width: 100%;
    height: 150px !important;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
#find
{
    background: url(search.png) 2px center no-repeat #ffffff;
    padding-left:28px;
    padding-top:5px;
    padding-bottom:2px;
    border-radius:5px;
    width: 100%;

}